
$color-brand: #120be2;
$color-accent: contrast($color-brand);

$breakpoint-desktop-large: 1680px;
$breakpoint-desktop: 1440px;
$breakpoint-laptop: 1280px;
$breakpoint-tablet-large: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;
$breakpoint-mobile-small: 375px;

